@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #343a40;
    background: #e9ecef;
}
.container{
  display: flex;
  
}
.get-data{
  color:#4361ee;
}

#input{
  padding: 5px 100px;
  border: 0.5px solid #6c7075; 
  border-radius: 2px;
}
.avatar{
  width: 100px;
  border-radius:50px;

}

.Home-btn {
  background: #4895ef;
  color: #e9ecef;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.Errorcontainer {
  text-align: center;
  margin: 200px;
}

