@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #dad7cd;
  background: #588157;
}
.Home-btn {
  background: #dad7cd;
  color: #3a5a40;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}
.container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.info {
  color: #3a5a40;
  font-weight: lighter;
  margin: 0 5px;
  text-align: left;
}

.image {
  width: 150px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}
.item {
  background: #dad7cd;
  text-align: center;
  border-radius: 10px;
}
.pagination {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.previous-btn {
  background: #dad7cd;
  color: #3a5a40;
  font-size: xx-large;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.button-next {
  background: #dad7cd;
  color: #3a5a40;
  font-size: xx-large;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.button-next:hover {
  background-color: #a0a0a0;
}
.previous-btn:hover {
  background-color: #a0a0a0;
}
.page-num {
  font-size: 18px;
  font-weight: 900;
  padding: 15px;
}
